/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* GLOBAL CLASSES */
.row, .column {
    display: flex;
}

footer.row>p {
    width: auto;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-1 {
    flex: 1;
}

.btn {
    border: none;
    padding: 10px 10px;
    background-color: #25bd6b;
    color: #3b3b3b;
}

.btn:hover {
    border: none;
    padding: 10px 10px;
    background-color: #89ffc0;
    color: #3b3b3b;
}


/* CUSTOM STYLES */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  header .site-logo {
    max-height: 80px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

footer {
    padding: 20px 3% 10px;
}

footer p {
    font-size: 12px;
}

.portfolio-link {
    color: #25bd6b;
    text-decoration: none;
}

#toDoCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}